
@model IEnumerable<MemberManagementSystem.Models.Member>
@{
    ViewBag.Title = "會員管理頁面";
}

<div id="AddMEmber">
    @Html.Action("AddMember")
</div>

<h2>會員管理頁面</h2>

<div>
    @if (Model != null)
    {
        <table border="1">
            <thead>
                <tr>
                    <td>名稱</td>
                    <td>年齡</td>
                    <td>地址</td>
                    <td>電話</td>
                    <td>編輯</td>
                    <td>刪除</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Age</td>
                        <td>@item.Address</td>
                        <td>@item.Tel</td>
                        <td>@Html.ActionLink("修改留言", "EditMember", new { Id = item.Id })</td>
                        <td>@Html.ActionLink("刪除留言", "DeleteMember", new { Id = item.Id })</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h3>無會員資料</h3>
    }
</div>

